head
  title The Vinternet - Form Field Validation
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="title" content="The Vinternet - Form Field Validation")
  meta(name="description" content="Example of real time client side HTML form validation")
  meta(name="msapplication-TileColor" content="#222222")
  meta(name="msapplication-TileImage" content="mstile-144x144.png")
  meta(name="theme-color" content="#A96398")
  block meta
  link(rel="icon", type="image/x-icon", href="favicon.ico")
  link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96")
  link(rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192")
  link(rel="apple-touch-icon" href="apple-touch-icon.png")
  link(rel="stylesheet" type="text/css" href="/css/main.css")
  link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap")
